# Thông Tin Sinh Viên
1. Họ tên: Võ Khoa Nam
2. Mssv: 19521877
3. Lớp: CS116.M12.KHCL

# Import thư viện

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 7.6 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 38 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 12.7 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
import geopandas
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
import matplotlib.pyplot as plt

# Bài tập 1: Linear Regression đơn biến

In [ ]:
# Đọc file data bằng geopandas
data = geopandas.read_file('/content/drive/MyDrive/Salary_Data.csv')
data.head()

  YearsExperience    Salary geometry
0             1.1  39343.00     None
1             1.3  46205.00     None
2             1.5  37731.00     None
3             2.0  43525.00     None
4             2.2  39891.00     None

In [ ]:
# Chia tập dữ liệu 
X = data.iloc[:,[0]]
y = data.iloc[:,[1]]

In [ ]:
# Chia làm 2 phần train và test
#from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
# KFold Cross Validation K =5
kf = KFold(n_splits=5, shuffle=True)

In [ ]:
# Chuẩn hoá đặc trưng đầu vào X bằng StandardScaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)

scaler_data = scaler.transform(X)

In [ ]:
# # Huấn luyện mô hình Simple LR vs Kfold với dữ liệu đã chuẩn hoá
ln_reg = LinearRegression()
r2_l = []
for train_index,test_index in kf.split(scaler_data,y):
  X_train, X_test = scaler_data[train_index], scaler_data[test_index]
  y_train, y_test = y.iloc[train_index], y.iloc[test_index]
  
  ln_reg.fit(X_train,y_train)
  y_pred = ln_reg.predict(X_test)
  r2_l.append(r2_score(y_test, y_pred))

In [ ]:
# R2_score
r2_c = sum(r2_l)/len(r2_l)
print('R2_Score trung bình: ',r2_c)

R2_Score trung bình:  0.819244778372979

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
# LinearRegression với dữ liệu chưa chuẩn hoá
#reg = LinearRegression()
#reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#y_pred =  reg.predict(X_test)
#y_pred

array([[102504.69254009],
       [ 55781.97202153],
       [ 89422.33079489],
       [114652.59987492],
       [ 63257.6073045 ],
       [115587.05428529]])

In [ ]:
# Đánh giá model dựa vào r2_score
#score = r2_score(y_test,y_pred)

In [ ]:
#print('r2 socre is: ',score*100)

r2 socre is:  92.2619929231001

# Bài tập 2: Linear Regression đa biến

In [ ]:
# Đọc file data bằng geopandas
data1 = geopandas.read_file('/content/drive/MyDrive/50_Startups.csv')
data1.head()

   R&D Spend Administration Marketing Spend       State     Profit geometry
0   165349.2       136897.8        471784.1    New York  192261.83     None
1   162597.7      151377.59       443898.53  California  191792.06     None
2  153441.51      101145.55       407934.54     Florida  191050.39     None
3  144372.41      118671.85       383199.62    New York  182901.99     None
4  142107.34       91391.77       366168.42     Florida  166187.94     None

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
ct = ColumnTransformer(transformers = [('encode', OneHotEncoder(),['State'])],remainder = 'passthrough')

In [ ]:
y = ct.fit_transform(data1)

In [ ]:
df_fn = pd.DataFrame(y)

In [ ]:
# Dữ liệu sao khi dùng Columntransfomer với cột State
# Các tên cột 3,4,5,6,7 tương ứng với các tên của bảng data1 
# Các tên cột 0,1,2 là các giá trị của cột State sau khi transfomer
df_fn.head()

   0  1  2          3          4          5          6     7
0  0  0  1   165349.2   136897.8   471784.1  192261.83  None
1  1  0  0   162597.7  151377.59  443898.53  191792.06  None
2  0  1  0  153441.51  101145.55  407934.54  191050.39  None
3  0  0  1  144372.41  118671.85  383199.62  182901.99  None
4  0  1  0  142107.34   91391.77  366168.42  166187.94  None

In [ ]:
# Chia tập dữ liệu 
X_1 = df_fn.iloc[:,[0,1,2,3,4,5]]
y_1 = df_fn.iloc[:,[6]]

In [ ]:
# Chuẩn hoá đặc trưng đầu vào X bằng StandardScaler
from sklearn.preprocessing import StandardScaler

scaler_1 = StandardScaler().fit(X_1)

scaler_data_1 = scaler_1.transform(X_1)

In [ ]:
#  Huấn luyện mô hình Multiple LR vs Kfold với dữ liệu đã chuẩn hoá
ln_reg_1 = LinearRegression()
r2_l1 = []
for train_index,test_index in kf.split(scaler_data_1,y_1):
  X_train, X_test = scaler_data_1[train_index],scaler_data_1[test_index]
  y_train, y_test = y_1.iloc[train_index], y_1.iloc[test_index]
  
  ln_reg_1.fit(X_train,y_train)
  y_pred = ln_reg_1.predict(X_test)
  r2_l1.append(r2_score(y_test, y_pred))

In [ ]:
# R2_score
r2_c1 = sum(r2_l1)/len(r2_l1)
print('R2_Score trung bình: ',r2_c1)

R2_Score trung bình:  0.9407447236197648

In [ ]:
# Chia làm 2 phần train và test
#X1_train, X1_test, y1_train, y1_test = train_test_split(X_1, y_1, test_size=0.2)

In [ ]:
# Thực hiện LinearRegression với dữ liệu đã chia
#LR = LinearRegression()
#LR.fit(X1_train,y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#y_prediction =  LR.predict(X1_test)
#y_prediction

array([[159237.88387406],
       [100929.81941794],
       [ 89156.28129477],
       [116515.95006261],
       [ 98003.27592368],
       [134400.24553013],
       [181210.16164985],
       [171074.51345781],
       [116027.92582531],
       [114614.52677552]])

In [ ]:
# Đánh giá model dựa vào r2_score
#score1 = r2_score(y1_test,y_prediction)

In [ ]:
#print('r2 socre is',score1*100)

r2 socre is 95.22132135052745

# BTVN

## Support Vector Regression

In [ ]:
data2 = geopandas.read_file('/content/drive/MyDrive/Position_Salaries.csv')
data2.head()

            Position Level  Salary geometry
0   Business Analyst     1   45000     None
1  Junior Consultant     2   50000     None
2  Senior Consultant     3   60000     None
3            Manager     4   80000     None
4    Country Manager     5  110000     None

In [ ]:
dt2_sf = data2.sample(frac=1)

In [ ]:
X_2 = dt2_sf.iloc[:,[1]]
y_2 = dt2_sf.iloc[:,[2]]

In [ ]:

scaler_2 = StandardScaler().fit(X_2)

scaler_data_2 = scaler_2.transform(X_2)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaler_data_2, y_2, test_size=0.2)

In [ ]:
from sklearn.svm import SVR

In [ ]:
reg_svr = SVR()

reg_svr.fit(X_train,y_train)
y_pred = reg_svr.predict(X_test)
svr_r2c = r2_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
print(svr_r2c)

-0.17356924504583127

## Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
y_pred = regr.predict(X_test)
regr_r2c = r2_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [ ]:
print(regr_r2c)

0.14907972623966947

# Bảng kết quả

In [ ]:
dict_columns = {
    'Model':['Simple LNR', 'Multiple LNR','SVR','RFR'],
    'Accuracy':[round(r2_c,2)*100,round(r2_c1,2)*100,round(svr_r2c,2)*100,round(regr_r2c,2)*100],
}

In [ ]:
df_kq = pd.DataFrame(dict_columns)
display(df_kq)

          Model  Accuracy
0    Simple LNR      82.0
1  Multiple LNR      94.0
2           SVR     -46.0
3           RFR      15.0