# Thông tin sinh viên
1. Họ và tên: Võ Khoa Nam
2. Mssv: 19521877
3. Bài tập thực hành 11

In [2]:
from google.colab import drive
drive.mount('/drive')

In [16]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder

# REPAIR DATA

In [4]:
data_link = '/drive/MyDrive/Data.csv'
data = pd.read_csv(data_link)

In [5]:
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

# NORMALIZATION DATA

In [6]:
df = pd.DataFrame(data)
X = df.iloc[:, 0:-1];
y = df.iloc[:, -1:];

In [8]:
from sklearn.preprocessing import StandardScaler
X_data_np = X.to_numpy()
Y_data_np = y.to_numpy()
std_X_np = StandardScaler().fit_transform(X_data_np)
std_X_df = pd.DataFrame(std_X_np)
std_X_df.head()

          0         1         2         3  ...         6         7         8       9
0 -0.123664  0.197905 -0.702212 -0.741774  ... -0.698853 -0.181827 -0.612927 -0.3484
1 -0.118956  0.197905  0.277252  0.262783  ...  1.772867 -0.181827 -0.285105 -0.3484
2 -0.098833 -0.511643 -0.702212 -0.741774  ... -0.424217 -0.181827 -0.612927 -0.3484
3 -0.097459  0.552679  1.583204  1.602192  ...  0.125054 -0.181827  1.354008 -0.3484
4 -0.096256 -0.156869 -0.702212 -0.741774  ... -0.698853 -0.181827 -0.612927 -0.3484

[5 rows x 10 columns]

# SPLIT DATA

In [9]:
from sklearn.model_selection import train_test_split
X_train, x_test, y_train, y_test = train_test_split(std_X_np, Y_data_np, test_size=0.2,random_state = 2)

# Bài Tập 1

## GBM

In [10]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(learning_rate=1.0, max_depth=1, random_state=0)

In [11]:
clf.score(x_test, y_test)

0.9197080291970803

### Kfold

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train, x_test, y_train, y_test = train_test_split(X_data_np, Y_data_np, test_size = 0.2)
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.fit_transform(x_test)

In [13]:
from sklearn.model_selection import KFold
kfold = KFold(5, shuffle = True, random_state = 1)

In [14]:
accuracy_list = []
for train, val in kfold.split(X_train_scaler, y_train):
  X_train_kf, X_test_kf = X_train_scaler[train], X_train_scaler[val];
  y_train_kf, y_test_kf = y_train[train], y_train[val];

  model = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
  model.fit(X_train_kf, y_train_kf)

  acc = model.score(X_test_kf, y_test_kf)
  accuracy_list.append(acc)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
acc_mean = np.mean(accuracy_list)

In [18]:
acc_mean

0.9615012510425356

# Bài Tập 2

## XGBoost

In [19]:
from xgboost import XGBClassifier

In [20]:
model1 = XGBClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
model1.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(learning_rate=1.0, max_depth=1)

In [21]:
y_pred = model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)

In [22]:
accuracy

0.2773722627737226

### Kfold

In [23]:
accuracy_list_xgb = []
for train, val in kfold.split(X_train_scaler, y_train):
  X_train_kf, X_test_kf = X_train_scaler[train], X_train_scaler[val];
  y_train_kf, y_test_kf = y_train[train], y_train[val];

  model = XGBClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
  model.fit(X_train_kf, y_train_kf)

  acc = model.score(X_test_kf, y_test_kf)
  accuracy_list_xgb.append(acc)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
acc_mean = np.mean(accuracy_list_xgb)
acc_mean

0.9541784820683903

# Bài Tập 3

In [25]:
data_link_1 = '/drive/MyDrive/loan_data.csv'
data_1 = pd.read_csv(data_link_1)

In [26]:
data_1.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [27]:
df_1 = pd.DataFrame(data_1)

In [28]:
df_1.dropna(inplace=True)

In [29]:
df1 = pd.DataFrame(df_1)
X_data = df1.iloc[:, 5:-1];
y_data = df1.iloc[:, -1:];

In [30]:
X_data.head()

  Self_Employed  ApplicantIncome  ...  Credit_History  Property_Area
1            No             4583  ...             1.0          Rural
2           Yes             3000  ...             1.0          Urban
3            No             2583  ...             1.0          Urban
4            No             6000  ...             1.0          Urban
5           Yes             5417  ...             1.0          Urban

[5 rows x 7 columns]

In [31]:
X_data = X_data.drop(columns = ['Self_Employed', 'Property_Area'])

onehot_encoder = OneHotEncoder()

x_seflemployed = df1['Self_Employed'].to_numpy().reshape(-1, 1)
x_seflemployed = onehot_encoder.fit_transform(x_seflemployed ).toarray()

x_property = df1['Property_Area'].to_numpy().reshape(-1, 1)
x_property  = onehot_encoder.fit_transform(x_property).toarray()

X_data = np.hstack([X_data, x_seflemployed])
X_data = np.hstack([X_data, x_property])

y_data = y_data.to_numpy()

In [32]:
X_train, x_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.33, random_state=42)

## GBM

In [33]:
standard_scaler = StandardScaler()

X_train = standard_scaler.fit_transform(X_train)
x_test = standard_scaler.fit_transform(x_test)

In [34]:
clf1 = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
clf1.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(learning_rate=1.0, max_depth=1, random_state=0)

In [35]:
clf1.score(x_test, y_test)

0.6792452830188679

### Kfold

In [36]:
accuracy_list_xgb_loan = []
for train, val in kfold.split(X_train, y_train):
  X_train_kf, X_test_kf = X_train[train], X_train[val];
  y_train_kf, y_test_kf = y_train[train], y_train[val];

  model = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
  model.fit(X_train_kf, y_train_kf)

  acc = model.score(X_test_kf, y_test_kf)
  accuracy_list_xgb_loan.append(acc)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
acc_mean = np.mean(accuracy_list_xgb_loan)
acc_mean

0.7817788461538462

## XGBoost

In [38]:
model2 = XGBClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
model2.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(learning_rate=1.0, max_depth=1)

In [39]:
y_pred = model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)

In [40]:
accuracy

0.6729559748427673

### Kfold

In [41]:
accuracy_list_xgb_kfold = []
for train, val in kfold.split(X_train, y_train):
  X_train_kf, X_test_kf = X_train[train], X_train[val];
  y_train_kf, y_test_kf = y_train[train], y_train[val];

  model = XGBClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
  model.fit(X_train_kf, y_train_kf)

  acc = model.score(X_test_kf, y_test_kf)
  accuracy_list_xgb_kfold.append(acc)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
acc_mean = np.mean(accuracy_list_xgb_kfold)
acc_mean

0.7537019230769231